/* Blocks */
body {
    background-color: #d1eeed;
    color: #1e7876;
}

hr {
    border-width: 3px;
    color: #52a19e;
    margin-left: 5%;
    margin-right: 5%;
}

/* Fonts */
a:link {
    color: white;
}

a:visited {
    color: #bbddcc;
}

h1 {
    color: #2b5453;
}

h2 {
    color: #445454;
}