/* Blocks */
body {
    background-color: #d1eeed;
    color: #1e7876;
}

hr {
    border-width: 3px;
    color: #52a19e;
    margin-left: 5%;
    margin-right: 5%;
}

hr.subchapter {
    border-width: 1px;
    color: #d1eeed;
    margin-left: 10%;
    margin-right: 10%;
}

/* Fonts */
a:link {
    color: black;
}

a:visited {
    color: navy;
}

h1 {
    color: #2b5453;
    margin-left: 3%;
    padding-left: 2%;
    border-left: 5px solid silver;
    border-top: 1px solid white;

}

h2 {
    color: #445454;
}

.code {
    background-color: silver;
    border-radius: 3px;
    padding: 2px 6px;
}